<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<!-- <meta http-equiv="refresh" content="10"> -->
<link rel="stylesheet" href="homesrv.css">
<title>HomeServer</title>
</head>

<body>
<div class="header">
<h1><a href="#"> <img src="homesrv.png" class="img-logo" alt="Logo" title="Home"></a>HomeServer</h1>
</div>     

<div class="mainflow">
<div class="menuflow">

<div class="services">
          <p>Services:</p>
     <table>
          <tr>
               <td><a href="https://cloud.upfing.de/photo/"><img src="../images/photo.png" alt="Photos" title="Photos"></a></td>
               <td><a href="https://cloud.upfing.de/photo/">Fotos</a></td>
          </tr>      
          <tr>
               <td><a href="https://cloud.upfing.de/drive/"><img src="../images/drive.png" alt="Drive" title="Drive"></a></td>
               <td><a href="https://cloud.upfing.de/drive/">Dateien</a></td>
          </tr>      
          <tr>
               <td><a href="https://cloud.upfing.de/contacts"><img src="../images/contacts.png" alt="Contacts" title="Contacts"></a></td>
               <td><a href="https://cloud.upfing.de/contacts">Adressbuch</a></td>
          </tr>      
          <tr>
               <td><a href="https://cloud.upfing.de/calendar"><img src="../images/calendar.png" alt="Calendar" title="Calendar"></a></td> 
               <td><a href="https://cloud.upfing.de/calendar">Kalender</a></td>
          </tr>      
          <tr>
               <td><a href="https://cloud.upfing.de/audio"><img src="../images/audio.png" alt="Audio" title="Audio"></a></td>
               <td><a href="https://cloud.upfing.de/audio">Musik</a></td>
          </tr>      
          <tr>
               <td><a href="https://cloud.upfing.de/cam"><img src="../images/surveillance.png" alt="Camera" title="Camera"></a></td>
               <td><a href="https://cloud.upfing.de/cam">Webcam</a></td>
          </tr>      
          <tr>
               <td><a href="https://cloud.upfing.de:5001/"><img src="../images/admin.png" alt="Admin" title="Admin"></a></td>
               <td><a href="https://cloud.upfing.de:5001/">Administration</a></td>
          </tr>
     </table>
</div>     

<div class="menu">
     <p>Inhalt:</p>
     <ul>
          <li><a href="#nina">Nina Warnungen</a></li>
          <li><a href="#waste">Abfall</a></li>
          <li><a href="#db">Fahrplan</a></li>
          <li><a href="#disruptions">DB St&ouml;rungen</a></li> 
     </ul>
</div>     

</div>     

<div class="main">
<h2 id="nina">Nina Warnungen</h2>
%%Nina%%

<h2 id="waste">Abfall</h2>
%%Waste%%

<h2 id="db">Fahrplan Deutsche Bahn / S-Bahn</h2>
%%DBtimetable%%

<h2 id="disruptions">DB St&ouml;rungen</h2>
%%DBdisruptions%%

</div>     
</div>

<div class="backbutton"> 
<a href="#">&raquo;&nbsp;Seitenanfang</a>
</div>    
     
<div class="footer">
%%CurrentDateTime%%    
<hr>    
&copy; 2025 by Ch. R&ouml;del &mdash; <a href="impressum.html">Impressum</a> 
</div>

</body>
</html>